<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
    <title></title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
